body {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

/* 谷歌内核滚动条样式 */
::-webkit-scrollbar-thumb {
    background: rgba(126, 117, 117, 0.4);
    border-radius: 99px;
}

::-webkit-scrollbar-track {
    background: rgba(200, 200, 200, 0.2);
}

::-webkit-scrollbar {
    background: rgba(200, 200, 200, 0);
    width: 10px;
    height: 10px;
}

.autoStation {
    font-size: 14px;
}

.autoStation .val_wind>img {
    width: 20px;
}

/* .leaflet-pane.leaflet-overlay-pane .leaflet-canvas-icon-layer {
    z-index: 202;
}
 */
/* .leaflet-pane .leaflet-layer {
    z-index: 101 !important;
}
 */

.leaflet-pane {
    z-index: 1001 !important;
}

.leaflet-overlay-pane{
    z-index: 188 !important;
}

/** 二级菜单样式 */
.secondMenu .el-dropdown-menu__item {
    font-size: 18px;
    padding: 10px 20px;
}

/** 未来24小时城市天气预报地质灾害弹出框 **/
.disPopover .footer {
    font-size: 14px;
}

.disPopover .footer p {
    margin-top: 20px;
}

.disPopover .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.disPopover .footer ul li {
    padding: 10px 0;
}

.disPopover .footer ul li span {
    padding: 0 3px;
    font-weight: bold;
}

/** 公共样式表格 **/
.commonTable thead th.el-table__cell{
    background-color: #dcecff;
    color: #2d5a9d;
    font-size: 14px;
}
.commonTable tbody td.el-table__cell{
    font-size: 14px;
}

/** 站点名称 **/
.radarCountyName{
    color: #DCDFE6;
    font-size: 18px;
}
.mapPointName{
    text-align: center;
}
.mapPointName>div{
    transform: translateY(-5px);
    background: #E6A23C;
    color: #fff;
    border-radius: 4px;
}

/***短信发送弹出框***/
div.messageDialog{

}
div.messageDialog .el-dialog__header{
    color: #fff;
    background-image: linear-gradient(
    270deg
    , #022B63 0%, rgba(29,158,255,0.56) 100%);
    padding:10px;
}
div.messageDialog .el-dialog__header .el-dialog__title{
    color: #fff;
    font-size: 16px;
}
div.messageDialog .el-dialog__header .el-dialog__headerbtn{
    top: 15px;
}
div.messageDialog .el-dialog__body .line{
    width:100%;
    height:3px;
    margin:16px 0;
    background-image: url(../img/line.png);
    background-size:100% 100%;
}
div.messageDialog .el-dialog__body{
    padding-bottom:20px;
}
.messageDialog .diaTop>p{
    padding-left: 10px;
    border-left: 2px solid #1D9EFF;
    margin-bottom: 16px;
}
.messageDialog .diaTopLeft ul{
    width: 100%;
    list-style: none;
}
.messageDialog .diaTopLeft ul::after{
    content: "";
    display: block;
    clear: both;
}
.messageDialog .diaTopLeft ul li{
    width: calc(100% / 3);
    float: left;
}
.messageDialog .diaTopLeft ul li span{
    font-size:12px;
}
.messageDialog .diaTopLeft div{
    height: 70px;
    border: 1px solid #77A2D7;
    padding: 10px;
    font-size: 12px;
    color: #333333;
    overflow: auto;
}